.input-section {
    margin: 8px auto;
}

.expense-category {
    color: var(--red)
}

.detail-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    margin: 2px;
    width: 100%;
    font-size: 1.15rem;
}

.detail-title {
    text-align: center;
    font-weight: bold;
}

.details {
    text-align: left;
}

@media (min-width: 768px) {
    #expense-cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
    }
}