.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: white;
    border: 1px solid var(--accent);
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    transition: hidden 0.3s ease-in-out .5s;
    padding: 24px;
    margin: 8px;
    width: 100%;
    max-width: 480px;
    height: 100%;
}

.card-header {
    font-size: 1.5rem;
}