#title {
    color: var(--accent);
    margin: 36px 0;
}

#login-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 8px solid var(--green);
    border-radius: 12px;
    box-shadow: 0 0 2px var(--green),
        /* Sharp inner glow */
        0 0 4px var(--green),
        /* Medium soft glow */
        0 0 8px var(--accent);
    /* Broad outer ambient aura */
}

#login-form * {
    margin: 16px;
}

#header {
    grid-area: header;
    margin-bottom: 12px;
}

#email {
    grid-area: email;
}

#pass {
    grid-area: pass;
}

#submit {
    grid-area: submit-btn;
    width: 120px;
    height: 36px;
    margin: 20px auto;
}

@media (min-width: 768px) {
    #login-form {
        display: grid;
        width: 50%;

        grid-template-areas:
            "header header"
            "email pass"
            "submit-btn submit-btn";
        grid-template-columns: 1fr 1fr;
        padding: 24px;
    }
}